@page "/config"

<PageTitle>Panel de Configuración del sistema</PageTitle>

<div class="test">
    <table class="table">
        <tr class="fila">
            <td class="columna">a</td>
            <td class="columna">a</td>
            <td class="columna">a</td>
            <td class="columna">a</td>
            <td class="columna">a</td>
        </tr>
        <tr class="filaOculta">
            <td class="columna">a</td>
            <td class="columna">a</td>
            <td class="columna">a</td>
            <td class="columna">a</td>
            <td class="columna">a</td>
        </tr>
        <tr class="fila">
            <td class="columna">a</td>
            <td class="columna">a</td>
            <td class="columna">a</td>
            <td class="columna">a</td>
            <td class="columna">a</td>
        </tr>
        <tr class="filaOculta">
            <td class="columna">a</td>
            <td class="columna">a</td>
            <td class="columna">a</td>
            <td class="columna">a</td>
            <td class="columna">a</td>
        </tr>
        <tr class="fila">
            <td class="columna">a</td>
            <td class="columna">a</td>
            <td class="columna">a</td>
            <td class="columna">a</td>
            <td class="columna">a</td>
        </tr>
    </table>
</div>

@code {

}
