@page "/"
@using Aplicacion.ServicesPages.Interfaces;
@inject IEmpresaServicePages service

<PageTitle>@_companyName</PageTitle>

<h1>Bienvenido a WatchFactory de @_companyName</h1>

<p>Se encuentra en el sistema de WatchFactory que ha sido implementado para @_companyName.</p>
<p>
    Este sistema permite la notificación, registro y control de los diferente strabajos realizados 
    por parte de los equipos encargados del mantenimiento de las instalaciones de @_companyName
</p>

<AuthorizeView Policy="AdminPolicy">
    <NotAuthorized>
        <p>Este mensaje es para ti</p>
    </NotAuthorized>
    <Authorized>
        <p><em>Esto solo es visible para los administradores. Felicidades!!!</em></p>
    </Authorized>
</AuthorizeView>

@code{
    private string _companyName = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _companyName = await service.GetNombre();
    }
}