@page "/"
@using Aplicacion.ServicesPages.Interfaces;
@inject IEmpresaServicePages service

<PageTitle>@_companyName</PageTitle>

<h1>Bienvenido a WatchFactory de @_companyName</h1>

<p>Se encuentra en el sistema de WatchFactory que ha sido implementado para @_companyName.</p>
<p>
    Este sistema permite la notificación, registro y control de los diferente strabajos realizados 
    por parte de los equipos encargados del mantenimiento de las instalaciones de @_companyName
</p>

<AuthorizeView Policy="UserPolicy">
    <NotAuthorized>
        <p>No ha iniciado sesión en el sistema. Vaya <em>Log In</em> si ya dispone de una cuenta, o a <em>Register</em> si quiere formar parte de él.</p>
    </NotAuthorized>
    <Authorized>
        <p><em>Tienes rol, pero de usuario.</em></p>
    </Authorized>
</AuthorizeView>

<AuthorizeView Policy="HRPolicy">
    <Authorized >
        <p><em>Bienvenido, miembro de HR</em></p>
    </Authorized>
</AuthorizeView>

<AuthorizeView Policy="AdminPolicy">
    <Authorized>
        <p><em>Esto solo es visible para los administradores. Felicidades!!!</em></p>
    </Authorized>
</AuthorizeView>

@code{
    private string _companyName = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _companyName = await service.GetNombre();
    }
}