@page "/"
@using Aplicacion.ServicesPages.Interfaces;
@inject IEmpresaServicePages service

<PageTitle>Index</PageTitle>

<h1>Bienvenido a WatchFactory de @_companyName</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<AuthorizeView Policy="AdminPolicy">
    <NotAuthorized>
        <p>Este mensaje es para ti</p>
    </NotAuthorized>
    <Authorized>
        <p><em>Esto solo es visible para los administradores. Felicidades!!!</em></p>
    </Authorized>
</AuthorizeView>

@code{
    private string _companyName = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _companyName = await service.GetNombre();
    }
}