@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider

<AuthorizeView>
    <NotAuthorized>
        <button @onclick="SignIn" class="m-2 btn btn-outline-primary">Sign In</button>
    </NotAuthorized>
</AuthorizeView>

@code {
    void SignIn()
    {
        NavigationManager.NavigateTo("/register");
    }
}
