@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider

<AuthorizeView>
    <NotAuthorized>
        <button @onclick="SignIn" class="btn btn-primary">SignIn</button>
    </NotAuthorized>
</AuthorizeView>

@code {
    void Login()
    {
        NavigationManager.NavigateTo("rgister");
    }
}
