@page "/fabricas"
@inject IFabricaService FabricaService
@inject NavigationManager NavigationManager

<PageTitle>Tabla de Fabricas</PageTitle>
<h3>Fabricas</h3>

@if (FabricaService.Fabricas == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Identificador</th>
                <th>Descripcion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fabrica in FabricaService.Fabricas)
            {
                <tr>
                    <td>@fabrica.Id</td>
                    <td>@fabrica.Descripcion</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => ShowFabrica(fabrica.Id)"><i class="oi oi-pencil"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" @onclick="CreateFabrica"></button>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await FabricaService.GetAllFabrica();
    }

    void ShowFabrica(int id){
        NavigationManager.NavigateTo($"/fabrica/{id}");
    }

    void CreateFabrica()
    {
        NavigationManager.NavigateTo("/fabrica");
    }
}
