@page "/tipomaquina/{id:int}"
@inject ITipoMaquinaService TipoMaquinaService
@inject NavigationManager NavigationManager

<PageTitle>Crear un nuevo Tipo de Maquina</PageTitle>
<h3>Nuevo Tipo de Maquina</h3>

<EditForm Model="Dto" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />

    <label for="descripcion">Descripcion</label>
    <InputText id="descripcion" class="form-control" @bind-Value="Dto.Descripcion"></InputText>
</EditForm>
<button type="submit" class="btn btn-primary">Actualizar</button>
<button type="button" class="btn btn-danger" @onclick="DeleteSubmit">Eliminar</button>

@code {
    [Parameter]
    public int Id { get; set; }

    UpdateTipoMaquinaDto Dto = new UpdateTipoMaquinaDto();

    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }

    async Task HandleSubmit()
    {
        await TipoMaquinaService.UpdateTipoMaquina(Id, Dto);
    }

    async Task DeleteSubmit()
    {
        await TipoMaquinaService.DeleteTipoMaquina(Id);
    }
}
