@page "/tipointervencion/{id:int}"
@inject ITipoIntervencion TipoIntervencionService
@inject NavigationManager NavigationManager

<PageTitle>Crear un nuevo Tipo de Intervencion</PageTitle>
<h3>Nuevo Tipo de Intervencion</h3>

<EditForm Model="Dto" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />

    <label for="descripcion">Descripcion</label>
    <InputText id="descripcion" class="form-control" @bind-Value="Dto.Descripcion"></InputText>
</EditForm>
<button type="submit" class="btn btn-primary">Actualizar</button>
<button type="button" class="btn btn-danger" @onclick="DeleteSubmit">Eliminar</button>

@code {
    [Parameter]
    public int Id { get; set; }

    UpdateTipoIntervencionDto Dto = new UpdateTipoIntervencionDto();

    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }

    async Task HandleSubmit()
    {
        await TipoIntervencionService.UpdateTipoIntervencion(Id, Dto);
    }

    async Task DeleteSubmit()
    {
        await TipoIntervencionService.DeleteTipoIntervencion(Id);
    }
}
